@import 'components/texts';
@import 'components/colors';
@import 'components/buttons';

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.bookmark-logo {
    height: 20px;
}

header {
    background-color: white;
}

footer {
    background-color: $secondary;
    color: white;
}

nav {
    width: 90%;
}

.footer-icons {
    display: flex;
    gap: 4vh;
}

.nav-link {
    color: gray;
    text-decoration: none;
}

.nav-link:hover {
    color: rgb(66, 64, 64);
    background-color: transparent;
    text-decoration: none;
}

.main-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 2vh;
}

.features-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    padding: 2rem 4rem;
}

.features-text h2 {
    display: flex;
    justify-content: space-around;
}

.features-text p {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 3rem 4rem;
}

.feature-tabs .nav-link {
    color: gray;
    transition: all 0.2s;
    border-bottom: 2px solid rgb(197, 195, 195);
}

.feature-tabs .nav-link:hover {
    color: rgb(66, 64, 64);
    border-bottom: 3px solid rgb(230, 153, 90);
}

.feature-tabs .nav-link:hover::after {
    opacity: 1;
}

.accordion-button :not(.collapsed) {
    color: rgb(30, 31, 30);
}

$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;

$accordion-icon-active-color: $primary;
$accordion-icon-color: $info;

$accordion-button-active-bg: none;
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='12'><path fill='none' stroke='#{$accordion-icon-color}' stroke-width='3' d='M1 1l8 8 8-8'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='12'><path fill='none' stroke='#{$accordion-icon-active-color}' stroke-width='3' d='M1 1l8 8 8-8'/></svg>");

@import "../node_modules/bootstrap/scss/bootstrap";