
$primary: #fca311;
$secondary: #14213d;


$button-colors: (
    "orange": #fa5757,
    "blue": #5165dc,
    "dark-blue": #242946,    
    "grey": #ced0db,
    "dark-grey": #514D67,
    "white": white
);
